version: "3.9"

services:
  # Servicio Frontend (React)
  frontend:
    build: ./frontend
    container_name: frontend-dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    tty: true
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true

  # Servicio Backend (Laravel)
  backend:
    build: ./backend
    container_name: backend-dev
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
    tty: true
    stdin_open: true
    environment:
      - APACHE_RUN_USER=www-data
      - APACHE_RUN_GROUP=www-data
