services:
  # Servicio MySQL
  mysql:
    image: mysql:5.7
    container_name: mysql_backend
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  # Servicio Backend (Laravel)
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    container_name: backend-dev
    volumes:
      - ./backend:/var/www/html
    working_dir: /var/www/html/src
    ports:
      - "8000:8000"
      - "6001:6001"
      - "9601:9601"
    depends_on:
      mysql:
        condition: service_healthy
    #command: php artisan serve --host=0.0.0.0 --port=8000
    command: /usr/local/bin/start.sh --- IGNORE ---
    environment:
    #USE A GENERAL .ENV FILE FOR BOTH APPLICATIONS IN THE ROOT DIRECTORY
      - DB_HOST=${DB_HOST}
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - app-network

  # Servicio Frontend (React)
  frontend:
    build: ./frontend
    container_name: frontend-dev
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    tty: true
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:

