version: "3.9"

services:
  react-app:
    build: .
    container_name: react-dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    tty: true
    stdin_open: true
